---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="About | John" description="About John Rodriguez" />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
      }

      .heroImg img {
        width: 100%;
      }

      .bio {
        width: 85%;
        text-align: justify;
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About John</h1>
      <div class="heroImg">
        <img
          width="1400"
          height="350"
          src="https://images.unsplash.com/photo-1498771251419-a1f4fbecd022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        />
      </div>
      <div class="bio wrapper">
        <p>
          Web developer with 1+ experience working with frontend and backend
          technologies. I like not only to write code but I am passionate about
          having a critical view of the product, its features, and the business
          in general. I am a disciplined person, with a dynamic and proactive
          spirit, capable of proposing and providing solutions, committed not
          only to my professional growth but also to that of the entity with
          which I work.
        </p>
        <p>
          <b> Tools and languages:</b>

          Frontend: HTML, CSS, JS, TypeScript, React, Hooks, Router, Formik,
          Tailwind, MaterialUI, Storybook. Backend: Nodejs, Express, Firebase,
          REST API. Tools: Git, GitHub, Trello, slack Work methodologies: Scrum
        </p>
        <p>
          <b>Contact information:</b>
          let's chat 🤝 <br />
          Email: johnjairorodriguez384@gmail.com <br />
          Mobile: +57 (3178333896)
        </p>
        <p>
          You can also see my repositories on Github, and collaborate on a
          project if you are interested 👀
          <br />
          github.com/JohnRodriguezM
          <br />
          Also in Ethereum as johnjrm.eth
        </p>
        <p>
          Caerphilly monterey jack goat. Squirty cheese cheesy grin hard cheese
          cheese strings cheese and biscuits croque monsieur smelly cheese
          danish fontina. Swiss cheese triangles everyone loves mascarpone
          cheese on toast who moved my cheese lancashire cheeseburger. Fromage
          frais fromage frais cheese and biscuits stinking bishop cauliflower
          cheese.
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
